<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{name}}</p>
        <p>{{msg}}</p>
        <div>
            <p>{{name}}</p>
        </div>
    </div>
    <script>
        // dom--->抽象语法树--->虚拟dom---->真正的dom 
        // 定义一个对象  数据
        let data = {
            name: "李四",
            msg: "hello",
        };

        let obj = document.querySelector("#app");

        function compiler(template, data) {
            let tempNode = template.childNodes;
            // 遍历伪数组 
            for (let i = 0; i < tempNode.length; i++) {
                // 节点的类型是1  表示它是一个标签  如果节点的类型是3 说明是 文本节点 
                let type = tempNode[i].nodeType;
                // 我们需要判断一下节点的类型 
                if (type === 1) {
                    // 标签 我们就需要进行递归 
                    compiler(tempNode[i], data);

                } else if (type === 3) {
                    // 文本节点
                    let val = tempNode[i].nodeValue;
                    let reg = /\{\{(\w+)\}\}/g;

                    val = val.replace(reg, (...args) => {
                        console.log(args)
                        // let key = args[1];
                        // let value = data[key];
                        // return value
                    })

                    // console.log(val);
                    tempNode[i].nodeValue = val;

                }
            }

        }

        compiler(obj, data);
    </script>
</body>

</html>