html,body,ul,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
html,body,#app{
    height: 100%;
    /* min-width: 1366px; */
}
a,a.active {
    text-decoration: none;
    color: #fff;
}
ul,li {
    list-style: none;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
    min-width: 780px;
}
.el-cascader-menu {
    max-height: 240px;
}
.el-scrollbar__wrap {
    overflow-x: auto;
}
.el-cascader-node.is-selectable.in-active-path {
    position: relative;
}
.el-radio {
    position: static;
}
.el-cascader-node>.el-radio::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}